.navbar-conrtainer-one {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar-conrtainer-one span {
    color: rgba(0, 0, 0, 0.442);
    font-size: 1.5rem;
}
.searchbar {
    display: flex;
    height: 50px;
    justify-content: left;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    padding: 0px 10px 0px 15px;
    margin: 3px 20vw 3px 20px;
    box-shadow: 1px 1px 5px rgba(60, 59, 59, 0.681);
}
.searchbar:focus {
    background-color: rgba(240, 239, 239, 0.637);
}
/* .searchbar:focus */.cross { 
    display: block;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/* right icons two sub divs */
.Righticons {

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons-1 {
    margin-right: 20px;
}
.icon-container {
    display: flex;
}

.icon-container:hover {
    cursor: pointer;
    background-color: rgba(225,
        225,
        225,
        0.811);
    width: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    
}


.displayinput-contaier {
    box-shadow: 0px 1px 5px rgb(57, 57, 57);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.titleinput-container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    
}

.addnote {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}
.addtittle {
    /* padding: 0px 20px; */
    /* align-items: center; */
}

